/*
    SpriteMap

    Used for small images in a single mapped image.
    So far only supports sprites horizontally of same size. :/
*/
p a, h3 a {
  color: #ffca19; }
  p a:visited, h3 a:visited {
    color: #e0b115; }
  p a:hover, h3 a:hover {
    color: #ffca19;
    text-decoration: underline; }

#main-wrapper {
  position: fixed;
  width: 380px;
  left: calc(50% - 190px);
  /* margin-left: 190px; */
  height: 300px;
  top: 100px;
  margin-top: 150px;
  text-align: center; }

#jam-wrapper {
  position: absolute;
  width: 380px;
  left: calc(50% - 190px);
  height: 300px;
  top: 100px;
  margin-top: 150px;
  text-align: center; }

.responsive-width {
  width: 100%; }

.top-right-button {
  position: fixed;
  top: 20px;
  right: 40px; }

p {
  font-family: Open Sans;
  padding-bottom: 10px; }

article {
  color: white; }
  article h2 {
    font-family: Abel;
    padding-bottom: 10px; }
  article #machine {
    position: absolute;
    top: -180px;
    left: 120px;
    z-index: -1;
    width: 150px; }

#background-video {
  position: fixed;
  overflow: hidden;
  z-index: -100; }

#background-image {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: url("../img/background.png") center top fixed;
  background-size: cover;
  z-index: -101; }

.button {
  background-color: transparent;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  text-indent: 0;
  border: 1px solid #58d1ff;
  display: inline-block;
  color: #58d1ff;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  margin-top: 10px; }
  .button:hover {
    background-color: #58d1ff;
    color: white; }
  .button:active {
    position: relative;
    top: 1px; }

input {
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px 10px 5px 10px;
  border: none;
  color: black; }

@media only screen and (max-width: 768px) {
  #background-video {
    display: none; }

  #background-image {
    position: fixed; }

  #main-wrapper {
    position: absolute;
    margin-top: 100px;
    top: 0;
    width: 320px;
    left: 50%;
    margin-left: 160px; }

  article #machine {
    width: 80px;
    top: -80px;
    z-index: 0; } }
